streamlit
langchain
langchain-community
langchain-core
langchain-openai
langchain-text-splitters
langchain-huggingface
chromadb
pypdf
python-dotenv
tiktoken
pandas
plotly
sentence-transformers
huggingface_hub
rank_bm25
pysqlite3-binary
transformers
accelerate
torch
