streamlit
langchain>=0.3.0
langchain-community>=0.3.0
langchain-core>=0.3.0
langchain-openai
langchain-chroma
chromadb
pypdf
python-dotenv
tiktoken
pandas
plotly
langchain-anthropic
langchain-huggingface
sentence-transformers
huggingface_hub
