streamlit
langchain>=0.3.0
langchain-community>=0.3.0
langchain-core>=0.3.0
langchain-text-splitters>=0.3.0
langchain-openai
langchain-chroma
langchain-anthropic
langchain-huggingface
chromadb
pypdf
python-dotenv
tiktoken
pandas
plotly
sentence-transformers
huggingface_hub
rank_bm25
